<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b27b674285.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>SUPER POKEMON BATTLE</title>
</head>
<body>
    <h2>SUPER POKEMON BATTLE</h2>
    <nav class="nav nav-tabs navbar-expand-lg navbar-dark nav-local">
        <a class="nav-link" href="/">Inicio</a>
        <a class="nav-link" href="/type-chart">Tabla de tipos</a>
        <a class="nav-link" href="/characters">Pokemons Disponibles</a>
        <a class="nav-link" href="/choose-character">Elegir Pokemon</a>
    </nav>
